[submodule "themes/vec"]
	path = themes/vec
	url = https://github.com/IvanChou/hugo-theme-vec.git
[submodule "themes/leaveit"]
	path = themes/leaveit
	url = https://github.com/liuzc/LeaveIt.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/osprey"]
	path = themes/osprey
	url = https://github.com/tomanistor/osprey.git
[submodule "themes/goa"]
	path = themes/goa
	url = https://github.com/shenoybr/hugo-goa.git
